/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email Selection Bar 

*/

.email__selection__bar {
  @include u.flex(flex, center);
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  border-block: 1px solid hsl(var(--input));
  margin-bottom: 0.5rem;

  &>span,
  &>button {
    @include u.buttonToolTip();

    button {
      border: 1px solid hsl(var(--input));
    }

    svg {
      stroke-width: 2;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    &:first-child:hover {
      background: none;

      svg {
        stroke: hsl(var(--background));
      }
    }
  }

  &>div[data-orientation='vertical'] {
    height: 20px;
  }
}
