/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion Minimal Text Editor

*/
.notion__minimal__text__editor {
  @include u.flex(grid);
  padding: 0.75rem;
  font-size: 0.7rem;
  height: 79px;
  border: 1px solid hsl(var(--input));
  border-radius: 0.5rem;
  overflow: visible;

  /* &.disabled { */
  /*   pointer-events: none; */
  /* } */

  & div[data-radix-scroll-area-viewport] {
    border-radius: 0;
  }

  .tiptap.ProseMirror {
    * {
      transition: font-size 0.3s ease;
    }

    & tap p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      font-size: 0.875rem;
      pointer-events: none;
    }

    &>pre {
      background: hsl(var(--accent) / 0.4);
      /* border: 1px solid hsl(var(--input)); */

      code {
        border-radius: 0.5rem;
      }
    }

    & p {
      font-size: 0.875rem;
    }

    & h1 {
      font-size: 2rem;
      margin-block: 0.5rem 0.4rem;
    }

    & h2 {
      font-size: 1.5rem;
      margin-block: 0.5rem 0.4rem;
    }

    & h3 {
      font-size: 1.25rem;
      margin-block: 0.5rem 0.4rem;
    }

    & h4 {
      font-size: 1rem;
    }

    & h5 {
      font-size: 0.9rem;
    }

    & h6 {
      font-size: 0.8rem;
    }

    & h4,
    & h5,
    & h6 {
      /* margin-block: 0.5rem 0.4rem; */
    }
  }
}
