
/*

    This code is writen by Ahmed Ayob

*/

@use '../../../../base' as *;
@use '../../../../utils' as u;

/*

    Main Erea Kanban Column task
    
*/


.main-erea__body__kanban__colmun__task__list{
    @include u.flex(grid, center);
    background: u.color(black, 100);
    gap: 0.5rem;

    &__item{
        @include u.flex(grid, center);

        background: u.color(black, 100);
    }
}
    
