/*

    This code is writen by Ahmed Ayob

*/

/*

    Colors

*/

$color-palate: (
    primary: (black: hsl(240, 10%, 3.9%),
        white: hsl(0, 0%, 100%),
        white-80: rgba(255, 255, 255, 0.829),
    ),
    black: (700: hsl(240, 2%, 9%),
        600: hsl(216, 10%, 10%),
        500: hsl(220, 7%, 16%),
        400: hsl(0, 0%, 21%),
        350: hsl(0, 0%, 25.1%),
        300: hsl(210, 3%, 28%),
        200: hsl(0, 0%, 67%),
    ),
    slate: (500: hsl(210, 10%, 20%),
        400: hsl(211, 17%, 28%),
    ),
    red: (500: hsl(357, 80%, 61%),
        400: hsl(357, 97%, 65%),
        200: hsl(357, 60%, 44%),
        100: hsla(357, 100%, 70%, 0.075),
    ),
    blue: (600: hsl(213, 68%, 48%),
        500: hsl(201, 100%, 66%),
        100: hsl(212, 97%, 85%),
    ),
    other: (green: hsl(108, 47%, 42%),
        yellow: hsl(70, 98%, 78%),
        mophe: hsl(323, 50%, 51%),
        purpule: hsl(248, 66%, 62%),
        pink: hsl(330, 90%, 84%),
        orange: hsl(36, 96%, 60%),
        border: rgb(39, 39, 42),
    ),
);
