/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email side List 

*/

.email__snooze__button {
  svg {
    width: 1rem;
    height: 1rem;
  }

  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.email__snooze__content {
  @include u.flex(flex);
  width: 561px;
  padding: 0;

  &__left {
    @include u.flex(flex);
    flex-direction: column;

    gap: 0.5rem;
    border-right-width: 1px;
    padding-inline: 0.5rem;
    padding-block: 1rem 0;

    &>h4 {
      padding-inline: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
    }

    &>div {
      @include u.flex(grid);
      min-width: 250px;
      gap: 0.48rem;

      &>button:not(:last-child, :nth-child(5)) {
        justify-content: flex-start;
        font-weight: 400;

        &>span {
          margin-left: auto;
          color: hsl(var(--muted-foreground));
        }
      }

      button {
        gap: 0.5rem;
      }
    }
  }

  .email__snooze__content__right {
    padding: 0.5rem;

    &__calendar {
      border-radius: calc(var(--radius) - 2px);
      border-width: 1px;
    }
  }
}

.custom__time__content {
  width: 20rem;

  &>div {
    @include u.flex(grid);
    gap: 1rem;

    &>div {
      &>div> :not([hidden])~ :not([hidden]) {
        margin-top: calc(0.5rem * calc(1));
        margin-bottom: calc(0.5rem * 0);

        &>h4 {
          font-weight: 500;
          line-height: 1;
        }

        &>p {
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: hsl(var(--muted-foreground));
        }
      }
    }

    &>form {
      @include u.flex(flex, center);
      gap: 0.5rem;

      &>input {
        &.error {
          background: rgb(239 68 68 / 0.1);
          border: 1px solid rgb(239 68 68 / 1);
        }
      }
    }
  }
}
