/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Label Mutat 
    
*/

.label__content {
  width: 22rem;
  padding: 1rem;
  margin: 0.25rem;

  &__wrapper {
    @include u.flex(grid, center);
    margin-top: calc(0.5rem);
    margin-bottom: 0;

    div[cmdk-root] {
      width: 100%;
    }

    &>div {
      @include u.flex(grid, center);
      gap: 0.5rem;
      margin-bottom: calc(0.5rem);

      &>h4 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
      }

      &>p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: hsl(var(--muted-foreground));
      }

      &:nth-child(2) {
        border: 1px solid hsl(var(--border));
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
      }

      &:last-child {
        @include u.flex(flex, center, space-between);
        gap: 0.5rem;

        &>button {
          @include u.flex(flex, center, center);
          gap: 0.5rem;
          width: 100%;
        }
      }
    }

    &__scroll {
      height: 12rem;

      div>div>div {
        opacity: 1 !important;
        pointer-events: all !important;
        text-transform: capitalize;
      }
    }
  }
}
