/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Popup Draggable Button 
    
*/

.popup__draggable__button {
  position: absolute;
  bottom: 2rem;
  left: 4rem;

  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50% !important;
  z-index: 50;

  &__avatar {
    pointer-events: none;
    width: 3rem;
    height: 3rem;
  }
}
