/*

    This code is writen by Ahmed Ayob

*/

@use '../../base' as *;
@use '../../utils' as u;

/*

    Auth 
    
*/

.auth {
  position: relative;
  @include u.container;
  @include u.flex(flex, center, center);
  flex-direction: column;
  height: 100vh;

  @include u.breakpoint(xsmall) {
    display: grid;
  }

  @include u.breakpoint(extra-large) {
    max-width: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 0px;
    padding-right: 0px;
  }

  &__link {
    position: absolute;
    right: size(na) /* 16px */;
    top: size(na) /* 16px */;
    border: 1px solid u.color(black, 500);

    @include u.breakpoint(xsmall) {
      right: size(4xl) /* 32px */;
      top: size(4xl) /* 32px */;
    }
  }

  &__aside {
    position: relative;
    display: none;
    height: 100%;
    padding: size(5xl) /* 40px */;
    flex-direction: column;
    color: white;
    background-color: hsl(var(--muted));

    @include u.breakpoint(extra-large) {
      display: flex;
    }

    & .layout {
      position: absolute;
      inset: 0;
      background-color: rgb(24 24 27 / 1);
    }

    & .top {
      position: relative;
      @include u.flex(flex, center);
      font-size: size(lg) /* 19px */;
      line-height: 1.75rem /* 28px */;
      font-weight: 700;
      color: u.color(primary, white-80);
      z-index: 20;
    }

    & .quote {
      position: relative;
      margin-top: auto;
      z-index: 20;

      & > blockquote {
        margin-block: 0.5rem;
        max-width: 800px;

        & > p {
          font-size: size(lg) /* 19px */;
          line-height: 1.75rem /* 28px */;
          margin-bottom: 0.8rem;
        }

        & > footer {
          @include u.flex(flex, center);
          gap: 0.5rem;
          color: u.color(black, 200);
          font-size: 1.2rem /* 14px */;
          line-height: 1.5rem /* 20px */;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }

  &__Sign-form {
    @include u.breakpoint(extra-large) {
      padding: size(4xl) /* 32px */;
    }

    & > div {
      @include u.flex(flex, center, center);
      flex-direction: column;
      width: 100%;
      margin-inline: auto;
      gap: size(3xl) /* 24px */;

      @include u.breakpoint(xsmall) {
        width: 350px;
      }

      & > div:first-child {
        @include u.flex(flex);
        flex-direction: column;
        row-gap: 0.5rem;
        text-align: center;

        & > h1 {
          font-size: size(3xl) /* 24px */;
          line-height: size(4xl) /* 32px */;
          font-weight: 600;
          letter-spacing: -0.025em;
        }

        & > p {
          font-size: size(smd) /* 14px */;
          line-height: size(lg) /* 20px */;
          color: hsl(var(--muted-foreground));
        }
      }

      & > p {
        padding-inline: 2rem;
        text-align: center;
        font-size: size(smd) /* 14px */;
        line-height: size(lg) /* 20px */;
        color: hsl(var(--muted-foreground));

        & > a {
          text-decoration-line: underline;
          text-underline-offset: 4px;

          &:hover {
            color: hsl(var(--primary));
          }
        }
      }
    }
  }
}

:is(.dark .auth__aside) {
  border-right-width: 1px;
}
