/*

    This code is writen by Ahmed Ayob

*/

@use '../../base' as *;
@use '../../utils' as u;

/*

    Complete Forget Password 
    
*/

.complete__forget__password {
  @include u.flex(grid);
  gap: 0.4rem;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid u.color(black, 300);

  /* font-size: size(3xl); */

  @include u.breakpoint('small') {
    max-width: 450px;
  }

  @include u.breakpoint('xsmall') {
    max-width: 450px;
  }

  @include u.breakpoint('medium') {
    max-width: 725px;
    padding-block: 6rem;
    padding-inline: 11rem;
  }

  form {
    @include u.flex(grid, center, flex-end);
  }
}
