/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Toggle Tooltip Button Wrapper 
    
*/

.toggle__tool__tip__trigger {
  background: none;
  width: 1.85rem !important;
  height: 1.85rem !important;
  padding: 0;

  svg {
    width: 55%;
  }
}

.toggle__tool__tip__content {}
