/*

    This code is writen by Ahmed Ayob

*/

@use '../../base' as *;
@use '../../utils' as u;

/*

    AssignUserSheetContent 
    
*/

.assign-user {
  width: 100%;
  place-content: start;

  &__header {
    @include u.flex(flex, center);
    padding-block: 1rem;

    & input {
      max-width: 24rem;
      border: 1px solid hsl(var(--border));
    }

    & button {
      border: 1px solid hsl(var(--border));
    }

    & ~ div {
      border-radius: calc(var(--radius) - 2px);
      border: 1px solid hsl(var(--border));
      height: 600px;
      overflow: scroll;
    }
  }

  &__table {
    border-radius: calc(var(--radius) - 2px);
    border-width: 0px;

    &__head {
      &:first-child {
        @include u.flex(flex, center);
        gap: 0.5rem;
        width: 50px;

        & button {
          border: 1px solid hsl(var(--border));
        }
      }

      &:nth-child(2) {
        width: 157px;
      }

      &:nth-child(3) {
        width: 275.433px;
      }
    }

    &__body {
      &__row {
        &[data-slected='selected'] {
          background: hsl(var(--muted) / 0.5);
          // opacity: 0.7;
        }

        &__cell {
          & > div {
            @include u.flex(flex, center);
            gap: 0.7rem;
          }

          &:first-child button {
            @include u.flex(flex, center);
            gap: 0.5rem;
            border: 1px solid hsl(var(--border));
            width: 1rem;
            height: 1rem;
          }
        }

        &__no-cells {
          height: 6rem;
          text-align: center;
        }
      }
    }
  }
}
