/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email Reply Multi 

*/

.email__reply__multi {
  --padding: 1.2rem;
  --height: 52vh;
  --width: 500px;

  height: calc(var(--height) + 15vh);

  &__content {
    @include u.flex(flex, center, center);
    /* grid-template-columns: repeat(auto, minmax(var(--width), 1fr)); */
    gap: 1rem;
    margin-inline: var(--padding);

    &>div[data-orientation='vertical'] {
      height: calc(var(--height) + 7vh);
      margin-block: 2rem;
    }

    &__item {
      @include u.flex(flex);
      flex-direction: column;
      gap: 0.7rem;
      position: relative;
      padding: 1rem;
      margin-block: var(--padding);
      height: calc(var(--height) + 9.6vh);
      border: 1px solid hsl(var(--border));
      border-radius: 0.5rem;

      &>button>svg {
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        width: 1rem;
        cursor: pointer;
      }

      &__header {
        @include u.flex(grid);
        gap: 0.5rem;

        &>h3 {
          width: calc(var(--width) - 40px);
          font-size: 0.95rem;
          font-weight: 500;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }

        &>div {
          @include u.flex(flex, center);
          gap: 1rem;

          h4 {
            font-size: 0.9rem;
          }

          &>button {
            @include u.flex(flex, center, center);
            gap: 0.29rem;
            width: 60px;
            height: 35px;

            svg:nth-child(2) {
              width: 0.8rem !important;
              height: 0.8rem !important;
            }
          }
        }
      }

      &__form {
        width: 100%;
        height: 100%;
        width: calc(var(--width));

        &>div {
          @include u.flex(flex);
          flex-direction: column;
          height: 100%;
          gap: 1rem;

          &>div {
            @include u.flex(flex, center, space-between);
            gap: 0.5rem;

            &>label {
              @include u.flex(flex, center);
              gap: 1rem;
            }

            &>button {
              width: 100px;
            }
          }

          .editor {
            align-items: initial;
            height: 100%;

            iframe {
              width: 100%;
              background: white;
            }
          }
        }
      }

      .notion__minimal__text__editor {
        height: 100%;
        width: 100%;

        .adjust {
          max-height: 373px;
        }

        .editor {
          max-height: 284px;
        }
      }
    }
  }
}
