/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email List Item

*/

.email__list__wrapper__item {
  @include u.flex(flex, center);
  gap: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  text-align: left;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  position: relative;

  &:has(.email__list__wrapper__item__body.active) {
    background-color: hsl(var(--accent));

    button {
      border-color: hsl(var(--foreground) / 0.3);
      color: red;
    }

    svg:not(button svg) {
      stroke: hsl(var(--foreground) / 0.3);
      stroke-width: 1.5px;

      &:hover {
        stroke: hsl(var(--foreground) / 0.6);
      }
    }

    .email__list__wrapper__item__functionality__card {
      margin-left: 0rem;
      width: auto;
      transform: translateX(0);
      border-color: hsl(var(--foreground) / 0.2);

      &>div[data-orientation='horizontal'] {
        background: hsl(var(--foreground) / 0.2);
      }
    }

    .email__list__wrapper__item__card__labels {
      &>div {
        border-color: hsl(var(--foreground) / 0.2);
      }
    }
  }

  &__functionality__card {
    @include u.flex(grid);
    gap: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid hsl(var(--input));

    button {
      @include u.buttonToolTip();
      background: none;
    }

    .toggle__tooltip__span__wrapper {
      width: fit-content;

      &:hover {
        background: none !important;
      }
    }

    span {
      height: 1.2rem;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    svg {
      width: 1.1rem !important;
      height: 1.1rem !important;
      stroke: hsl(var(--input));
      stroke-width: 2px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        stroke: hsl(var(--foreground) / 0.4);
      }

      &.active {
        fill: hsl(var(--foreground));
        stroke: hsl(var(--foreground));
      }
    }

    &>div:has(button) {
      width: 1.1rem;
      height: 1.1rem;
    }

    button {
      width: 1.1rem;
      height: 1.1rem;
      border: 1px solid hsl(var(--input));

      &[aria-checked='true'] {
        background: hsl(var(--foreground));
        height: 1.1rem;
      }

      span {
        height: 0px;
      }
    }
  }

  &:hover {
    background-color: hsl(var(--accent) / 0.4);
  }

  &__card {
    &__top {
      @include u.flex(flex);
      flex-direction: column;
      width: 100%;
      gap: 0.25rem;
      margin-bottom: 0.5rem;

      &__header {
        @include u.flex(flex, center);

        &>div:first-child {
          @include u.flex(flex, center);
          gap: 0.5rem;

          &>div {
            font-weight: 600;

            &.active {
              &>svg {
                fill: currentColor;
              }
            }
          }

          &>span {
            @include u.flex(flex);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 9999px;
            background-color: rgb(37 99 235 / 1);
          }
        }

        &>div:nth-child(2) {
          margin-left: auto;
          font-size: 0.75rem;
          line-height: 1rem;
          color: hsl(var(--muted-foreground));

          &.active {
            color: hsl(var(--foreground));
          }
        }
      }

      &__subject {
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    &__bottom {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 0.75rem;
      line-height: 1rem;
      color: hsl(var(--muted-foreground));

      &>div {
        @include u.flex(flex, center);
        gap: 0.5rem;
      }
    }

    &__labels {
      @include u.flex(flex, center);
      gap: 0.5rem;

      &>div {
        margin-top: 0.5rem;
      }
    }
  }
}
