/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion Editor Highlight Color Picker 

*/

.notion__editor__highlight__color__picker {
  &__trigger {
    padding: 0;
    width: 32px;
    height: 30px;
  }

  &__content {
    @include u.flex(grid, center, center);
    width: fit-content;
    gap: 0.9rem;
    z-index: 10000;

    .react-colorful {
      width: 100%;
      margin-block: 1rem;

      .react-colorful__saturation {
        margin-bottom: 0;
      }
    }

    & > h2 {
      font-size: 1.1rem;
      /* text-align: center; */
    }

    &__bottom {
      @include u.flex(grid, center);
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}
