/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion Bubble Menu 

*/

.bubble__menu {
  &__wrapper {
    @include u.flex(inline-flex, center);
    flex-direction: row;
    height: 100%;
    padding: 0.25rem;
    gap: 0.325rem;
    border: 1px solid hsl(var(--input));
    border-radius: 0.5rem;
    background: hsl(var(--background));

    &__icons {
      @include u.flex(flex, center);
      gap: 0.3rem;

      button {
        background: none;
        width: 1.85rem !important;
        height: 1.85rem !important;
        padding: 0;

        svg {
          width: 55%;
        }
      }
    }

    &__picker {
      &__trigger {
        font-size: 0.77rem;
        width: 140px;
        text-align: start;
        white-space: nowrap;
        padding: 0.9rem;
        height: 30px;
      }

      &__content {
        width: 180px;
        @include u.flex(grid, center);
        background: hsl(var(--background));
        padding: 0.5rem;
        border: 1px solid hsl(var(--input));
        border-radius: 0.5rem;
        font-size: 0.7rem;
        margin-top: 0.5rem;

        &* {
          font-size: 14px;
        }

        &>span {
          padding-left: 0.5rem;
          padding-bottom: 0.1rem;
          font-size: 12px;
          color: hsl(var(--input));
        }

        &__button {
          position: relative;
          @include u.flex(flex, space-between);
          gap: 0.5rem;
          background: none;
          padding: 0 0.5rem;
          height: 28px;
          width: 100%;
          border-radius: 0.2rem;

          img {
            width: 22px;
            height: 22px;
            background: hsl(var(--foreground));
          }

          span {
            font-size: 12px;
          }

          &__hover__menu {
            --width: 145px;
            /* @include u.flex(grid); */
            /* align-items: flex-start; */
            /* position: absolute; */
            /* right: -64%; */
            background: hsl(var(--background));
            border: 1px solid hsl(var(--input));
            border-radius: 0.5rem;
            padding: 0.5rem;
            opacity: 0;
            pointer-events: none;
            /* width: var(--width); */
            z-index: 2;

            /* &>img { */
            /*   width: var(--width); */
            /*   height: auto; */
            /* } */
            /**/
            /* &>span { */
            /*   width: var(--width); */
            /* } */
          }

          &:hover {
            .bubble__menu__wrapper__picker__content__button__hover__menu {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
