/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion Bubble Menu 

*/

.bubble__menu {
  .active {
    background: hsl(var(--accent));

    svg {
      fill: hsl(var(--background));
    }
  }

  &__wrapper {
    @include u.flex(inline-flex, center);
    flex-direction: row;
    height: 100%;
    padding: 0.25rem;
    gap: 0.325rem;
    border: 1px solid hsl(var(--input));
    border-radius: 0.5rem;
    background: hsl(var(--background));

    &__icons {
      @include u.flex(flex, center);
      gap: 0.3rem;

      button {
        background: none;
        width: 1.85rem !important;
        height: 1.85rem !important;
        padding: 0;

        svg {
          width: 55%;
        }
      }
    }

    &__picker {
      &__trigger {
        font-size: 0.77rem;
        width: 140px;
        text-align: start;
        white-space: nowrap;
        padding: 0.9rem;
        height: 30px;
      }

      &__content {
        @include u.flex(grid, center);
        background: hsl(var(--background));
        padding: 0.5rem;
        border: 1px solid hsl(var(--input));
        border-radius: 0.5rem;
        font-size: 0.7rem;
        margin-top: 0.5rem;

        &* {
          font-size: 14px;
        }

        &>span {
          padding-left: 0.5rem;
          padding-bottom: 0.1rem;
          font-size: 12px;
          color: hsl(var(--input));
        }

        &__button {
          position: relative;
          @include u.flex(flex, space-between);
          gap: 0.5rem;
          background: none;
          padding: 0 0.5rem;
          height: 28px;
          width: 100%;
          border-radius: 0.2rem;

          img {
            width: 22px;
            height: 22px;
            background: hsl(var(--foreground));
          }

          span {
            font-size: 12px;
          }

          &__hover__menu {
            --width: 150px;
            @include u.flex(grid);
            align-items: flex-start;
            position: absolute;
            right: -115%;
            background: hsl(var(--background));
            border: 1px solid hsl(var(--input));
            border-radius: 0.5rem;
            padding: 0.55rem;
            opacity: 0;
            pointer-events: none;
            z-index: 2;

            &>img {
              width: calc(var(--width) * 1);
              height: calc(var(--width) * 0.65);
              border-radius: 0.5rem;
              object-fit: cover;
              margin-bottom: 0.5rem;
            }

            &>span {
              text-align: start;
              text-wrap: wrap;
              width: var(--width);
              text-transform: capitalize;
            }
          }

          &:hover {
            .bubble__menu__wrapper__picker__content__button__hover__menu {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* Basic editor styles */
.tiptap :first-child {
  margin-top: 0;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: #f3e5f5;
  border-radius: 0.4rem;
  color: #000;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: #000;
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid #ccc;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 2rem 0;
}

.draggable-item {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: hsl(var(--background));
  border: 1px solid hsl(var(--input));
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.1);
}

.draggable-item .drag-handle {
  flex: 0 0 auto;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 0.1rem;
  margin-right: 0.5rem;
  cursor: grab;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.draggable-item .content {
  flex: 1 1 auto;
}
