/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion Bubble Menu 

*/

.bubble__menu {
  .active {
    background: hsl(var(--accent));

    svg {
      fill: hsl(var(--background));
    }
  }

  &__wrapper {
    @include u.flex(inline-flex, center);
    flex-direction: row;
    height: 100%;
    padding: 0.25rem;
    gap: 0.325rem;
    border: 1px solid hsl(var(--input));
    border-radius: 0.5rem;
    background: hsl(var(--background));
  }
}
