/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Notion File Header

*/
.lllayout {
  --content-width: minmax(auto, 708px);
  --margin-width: minmax(96px, 1fr);
  display: grid;
  grid-template-columns:
    [full-start] var(--margin-left-width, var(--margin-width)) [content-start] var(--content-width) [content-end] var(--margin-right-width,
      var(--margin-width)) [full-end];
  width: 100%;
}
