/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email side List 

*/

.email__side__list {
  &__wrapper {
    &__top {
      @include u.flex(flex, center);
      padding-inline: 1rem;
      padding-block: 0.5rem;

      &>h1 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
      }

      &>.tab__list {
        margin-left: auto;

        &__trigger {
          color: rgb(82 82 91 / 1);

          &:is(.dark *) {
            color: rgb(228 228 231 / 1);
          }
        }
      }
    }

    &__bottom {
      background-color: hsl(var(--background) / 0.95);
      padding: 1rem;

      --tw-backdrop-blur: blur(8px);
      backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

      @supports (backdrop-filter: var(--tw)) {
        .supports-\[backdrop-filter\]\:bg-background\/60 {
          background-color: hsl(var(--background) / 0.6);
        }
      }

      &>form {
        &>div {
          position: relative;

          &>svg {
            position: absolute;
            left: 0.7rem;
            top: 0.75rem;
            height: 1rem;
            width: 1rem;
            color: hsl(var(--muted-foreground));
          }

          &>input {
            padding-left: 2rem;
          }
        }
      }
    }
  }

  &__content {
    margin: 0px;
  }
}
