/*

    This code is writen by Ahmed Ayob

*/

@use '../../base' as *;
@use '../../utils' as u;

/*

    Header

*/

.header {
  @include u.flex(flex);
  position: relative;
  transition: 0.3s ease;
  width: 260px;
  min-width: 260px;
  height: 100vh;
  flex-direction: column;
  // overflow: hidden;
  gap: 1rem;
  padding-block: 0.5rem;
  border-right-width: 1px;
  transition: 0.3s ease-out;

  &.collapsed {
    width: 53px;
    min-width: 53px;
  }

  &[data-collapsed='true'] {
    padding-block: 0.5rem;
  }

  #{&}__logo {
    @include u.flex(flex, center);
    width: 52px;
    height: 36px;
    color: hsl(var(--foreground));
    font-size: size(3xl);
    font-weight: 600;
    padding-inline: 0.5rem;
    margin-bottom: -0.5rem;
  }

  &__nav {
    @include u.flex(grid, center);
    gap: 0.25rem;
    padding-inline: 0.5rem;

    &[data-collapsed='true'] {
      justify-content: center;
      padding-inline: 0.5rem;
    }

    &__link {
      &.a {
        justify-content: flex-start;
      }

      &.collabsed {
        width: 2.25rem;
        height: 2.25rem;
      }

      &.menu-button {
        width: 100%;
        padding-inline: 0.5rem;
      }
    }

    &__tooltip {
      @include u.flex(flex, center);
      gap: 1rem;

      &__label {
        margin-left: auto;
        color: hsl(var(--muted-foreground));
      }
    }

    &__dropdown {
      width: 14rem;
      margin-left: 0.5rem;

      &__item {
        gap: 0.5rem;
      }
    }
  }

  &__toggle {
    @include u.flex(flex, center);
    flex-direction: column;
    gap: 0.25rem;
    padding-inline: 0.5rem;
    margin-top: auto;

    & button {
      padding: 0;
    }

    & .menu-button {
      padding-inline: inherit;
    }
  }

  .ghost-button {
    background: initial;
    color: hsl(var(--foreground));
  }
}

.icon {
  width: 1.15rem;
  height: 1.15rem;

  &.icon-notcollabsed {
    margin-right: 0.5rem;
  }
}
