/*

    This code is writen by Ahmed Ayob

*/

@use '../utils' as *;
@use './typography' as *;

/*

    Globals

*/

*,
::after,
::before {
  /* all: initial !important; */
  box-sizing: border-box;
  user-select: none;
  border-color: hsl(var(--input));
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: size(md) !important;
  font-weight: 500 !important;
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
  overflow-y: hidden !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background: hsl(var(--background)) !important;
  }
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

input:focus,
input:active {
  outline: none;
  border: none;
}

#root {
  display: flex;
}

.spin {
  margin-right: 0.5rem;
  height: size(na);
  width: size(na);
  animation: spin 1s linear infinite;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 0.5rem;
}

//
::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: color('primary', 'white-80');
}

::-webkit-scrollbar {
  position: absolute;
  width: 4px;
  height: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

div[cmdk-root] {
  width: 350px;
}

div[cmdk-list-sizer] {
  div:not(div[cmdk-item]) {
    overflow: hidden;
  }
}

input.input-notvalid {
  color: color(red, 200);
  background-color: color(red, 100);
}
