/*

    This code is writen by Ahmed Ayob

*/

@use '../utils' as *;
@use './typography' as *;

/*

    Globals

*/

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
  border-color: hsl(var(--input));
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: size(md);
  font-weight: 500;

  overflow-y: hidden;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

input:focus,
input:active {
  outline: none;
  border: none;
}

#root {
  display: flex;
}

.spin {
  margin-right: 0.5rem
    /* 8px */
  ;
  height: size(na)
    /* 16px */
  ;
  width: size(na)
    /* 16px */
  ;
  animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

*::-webkit-scrollbar {
  width: 5px;
  border-radius: 0.5rem;
}

//
*::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: color('primary', 'white-80');
}

*::-webkit-scrollbar {
  position: absolute;
  width: 4px;
  height: 1px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--second-color);
}

div[cmdk-root] {
  width: 350px;
}

div[cmdk-list-sizer] {
  div:not(div[cmdk-item]) {
    overflow: hidden;
  }
}

input.input-notvalid {
  color: color(red, 200);
  background-color: color(red, 100);
}
