/*

    This code is writen by Ahmed Ayob

*/

@use './functions' as f;

/*

    Break points

*/

// 700px, 900px, 1440px
$breakpoints-up: (
  'tiny-small': f.em(270),
  'small': f.em(450),
  'xsmall': f.em(640),
  'medium': f.em(700),
  'large': f.em(900),
  'extra-large': f.em(1024),
  'xlarge': f.em(1440),
);

// 452.98px (flex), 617.98 (grid), 699.98px, 899.98px, 1339.98px
$breakpoints-down: (
  'xsmall': f.em(617.98),
  'small': f.em(699.98),
  'medium': f.em(899.98),
  'large': f.em(1023.98),
  'extra-large': f.em(1339.98),
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
