/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email Header

*/
.email__header {
  & .account__switcher {
    place-content: center;
    place-self: center;

    &>span>svg {
      width: auto;
      height: auto;
      font-size: 1.3rem;
    }
  }
}
