/*

    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as u;

/*

    Email Display Inbox

*/

.email__display__inbox {
  @include u.flex(flex);
  flex: 1 1 0%;
  flex-direction: column;

  &__wrapper {
    @include u.flex(flex, flex-start);
    padding: 1rem;

    &__top {
      @include u.flex(flex, flex-start, space-between);
      width: 100%;
      gap: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;

      &__avatar {}

      &__data {
        @include u.flex(grid);
        gap: 0.25rem;

        &>div:nth-child(1) {
          font-weight: 600;
        }

        &>div:nth-child(2),
        &>div:nth-child(3) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }

      &__date {
        margin-left: auto;
        font-size: 0.75rem;
        line-height: 1rem;
        color: hsl(var(--muted-foreground));
        white-space: nowrap;
      }
    }
  }

  &__content {
    height: calc(100vh - 314px);
    padding: 1rem;

    div[data-radix-scroll-area-viewport]>div {
      display: grid !important;
      gap: 0.5rem;
      /* display: none; */
    }

    iframe {
      width: 100%;
      height: 61.88vh;
      background-color: white !important;
      color: black !important;

      &::-webkit-scrollbar {
        width: 0px;
        border-radius: 0.5rem;
      }
    }
  }

  &__bottom {
    padding: 1rem;

    &>form {
      &>div {
        @include u.flex(grid);
        gap: 1rem;

        /* &>textarea { */
        /*   padding: 1rem; */
        /*   resize: none; */
        /* } */

        &>div {
          @include u.flex(flex, center);

          &>label {
            @include u.flex(flex, center);
            gap: 1rem;
            font-size: 0.75rem;
            line-height: 1rem;
            font-weight: 400;
          }

          &>button {
            margin-left: auto;
            width: 120px;
          }

          .data-\[state\=checked\]\:translate-x-5[data-state='checked'] {
            --tw-translate-x: 1.34rem;
          }
        }
      }
    }
  }

  .skeleton__top {
    height: 77px;
    margin: 1rem 1rem 0 1rem;
  }

  .skeleton__content {
    padding: 0;
    height: 61.8vh;
  }
}

.email__display__inbox__not__found {
  @include u.flex(flex, center, center);
  color: hsl(var(--muted-foreground));
  padding: 2rem;
  height: calc(100vh - 315px + 94px);
}
